/** Global preview */
#qtools-profiler-preview-wrapper {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30vh;
  position: fixed;
  background: white;
  z-index: 100000;
}

#qtools-profiler-preview-wrapper.qtools-profiler-minimized {
  height: inherit;
  right: inherit;
}

#qtools-profiler-preview-wrapper.qtools-profiler-maximized {
  top: 0;
}

/** Headers */
#qtools-profiler-preview-header {
  display: none;
  background: #9e9e9e;
  width: 100%;
  overflow: hidden;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.qtools-profiler-minimized #qtools-profiler-preview-header {
  display: block;
}

/** Counter */
#qtools-profiler-preview-counter {
  color: white;
  cursor: pointer;
  padding: 1em 1.3333em;
  vertical-align: baseline;
  float: left;
}

#qtools-profiler-preview-counter:before {
  content: "\25b2";
  margin-right: 10px;
}

/** Content */
#qtools-profiler-preview-content {
  width: 100%;
  height: 100vh;
}

.qtools-profiler-minimized #qtools-profiler-preview-content {
  display: none;
}

/** Body */
body.qtools-profiler-active {
  padding-bottom: 50em !important;
}

table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
  display: block;
}
