<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body style="margin: 0">
    <div id="container"></div>
    <script type="text/javascript" src="{{ build_path }}/vendor.bundle.js"></script>
    <script type="text/javascript" src="{{ build_path }}/runtime~ui.bundle.js"></script>
    <script type="text/javascript" src="{{ build_path }}/ui.bundle.js"></script>
  </body>
</html>
