/** Initial clean up */
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas div,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas section,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas span,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas header,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas footer {
  box-shadow: none !important;
  background: none !important;
}

html.qtools-cache-profiler-enabled {
  border: dotted 5px;
  background: white;
}

/** Renderwis overrides */
.qtools-cache-profiler-enabled .renderviz-trace-layer {
  outline: 2px solid blue !important;
  border: 2px solid white !important;
  transform: translateZ(20px);
}

/* Cache skip */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-n {
  border-color: #606060;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas.qtools-cache-profiler-complexity-n,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-n {
  box-shadow: inset 0 0 10px 5px #808080 !important;
  background: #808080 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-n.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #808080, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas.qtools-cache-profiler-complexity-n,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-n {
  border: 3px dotted black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-n {
  -webkit-filter: grayscale(100%) brightness(110%) contrast(0.9);
  filter: grayscale(100%) brightness(110%) contrast(0.9);
}

/* Cache set */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-0 {
  border-color: #006969;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-0 {
  box-shadow: inset 0 0 10px 5px #008080 !important;
  background: #008080 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-0.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #008080, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-0 {
  -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(130deg) saturate(700%) contrast(0.8);
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(130deg) saturate(700%) contrast(0.8);
}

/* Complexity 1 ( < 100) */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-1 {
  border-color: #2f9b2f;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-1 {
  box-shadow: inset 0 0 10px 5px #33cc33 !important;
  background: #33cc33 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-1.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #33cc33, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-1 {
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

/* Complexity 2 ( < 10 000) */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-2 {
  border-color: #9b9b00;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-2 {
  box-shadow: inset 0 0 10px 5px #cccc00 !important;
  background: #cccc00 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-2.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #cccc00, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-2 {
  -webkit-filter: grayscale(100%) brightness(55%) sepia(100%) hue-rotate(20deg) saturate(700%) contrast(0.8);
  filter: grayscale(100%) brightness(55%) sepia(100%) hue-rotate(20deg) saturate(700%) contrast(0.8);
}

/* Complexity 3 ( < 1000 000) */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-2 {
  border-color: #9b5100;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-3 {
  box-shadow: inset 0 0 10px 5px #ff9900 !important;
  background: #ff9900 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-3.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #ff9900, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-3 {
  -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

/* Complexity 4 ( < 100 000 000) */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-complexity-2 {
  border-color: #9b2f00;
}

.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-4 {
  box-shadow: inset 0 0 10px 5px #cc3300 !important;
  background: #cc3300 !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-complexity-4.qtools-cache-profiler-lazy {
  box-shadow: inset 0 0 10px 5px #cc3300, 0px 10px 41px 3px black !important;
}
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas img.qtools-cache-profiler-complexity-4 {
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

/* Inspect */
html.qtools-cache-profiler-enabled.qtools-cache-profiler-inspect,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-inspect,
.qtools-cache-profiler-enabled .dialog-off-canvas-main-canvas .qtools-cache-profiler-cacheable.qtools-cache-profiler-inspect-inner {
  background: purple !important;
}
